# Source
src
playground
test
e2e
docs

# Config
.github
.nuxt
.output
coverage

# Dev files
*.log
.DS_Store
.gitignore
.npmignore
tsconfig.json
vitest.config.ts
playwright.config.ts
eslint.config.js
prettier.config.js
pnpm-lock.yaml
