name: Publish to npm

on:
    release:
        types: [released]

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: 9
            - uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "pnpm"
                  registry-url: "https://registry.npmjs.org"
            - run: pnpm install --frozen-lockfile
            - run: pnpm run build
            - run: pnpm run test
            - run: pnpm exec playwright install --with-deps chromium
            - run: pnpm run test:e2e
            - run: pnpm publish --no-git-checks --access public
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
